.p-Home.Body {
display: flex;
background-color: #000f;
flex-direction: column;
padding-left: 48px;
padding-right: 48px;
row-gap: 48px;
}
.p-Home.Header {
display: flex;
justify-content: space-between;
padding-top: 16px;
padding-left: ;
padding-right: ;
padding-bottom: ;
align-items: center;
}
.p-Home.Logo {
display: flex;
align-items: center;
}
.p-Home.Navigation_Options {
display: flex;
align-items: center;
column-gap: 16px;
}
.p-Home.Footer {
display: flex;
justify-content: center;
padding-top: 8px;
padding-bottom: 56px;
}
.p-Home.Flex39 {
display: flex;
align-items: center;
column-gap: 15px;
}
.p-Home.Model_Info {
display: flex;
flex-direction: column;
padding-top: ;
padding-bottom: ;
column-gap: ;
row-gap: 16px;
}
.p-Home.Model_Header {
display: flex;
justify-content: space-between;
padding-top: ;
padding-left: ;
padding-right: ;
padding-bottom: ;
}
.p-Home.Model_Social {
display: flex;
justify-content: flex-start;
column-gap: 16px;
width: 140px;
}
.p-Home.Flex7 {
display: flex;
align-items: center;
column-gap: 8px;
padding-left: 12px;
padding-right: 12px;
background-color: #161618ff;
border-width: 1px;
border-style: solid;
border-color: #374151ff;
border-radius: 4px;
padding-top: 4px;
padding-bottom: 4px;
}
.p-Home.Flex8 {
display: flex;
align-items: center;
column-gap: 10px;
padding-left: 12px;
padding-right: 12px;
background-color: #161618ff;
border-width: 1px;
border-style: solid;
border-color: #374151ff;
border-radius: 4px;
padding-top: 4px;
padding-bottom: 4px;
}
.p-Home.Steps {
display: flex;
flex-direction: column;
padding-top: ;
padding-bottom: ;
row-gap: 40px;
}
.p-Home.Step_1 {
display: flex;
flex-direction: column;
row-gap: 24px;
}
.p-Home.Flex43 {
display: flex;
align-items: center;
column-gap: 16px;
}
.p-Home.Flex49 {
display: flex;
border-left-width: ;
border-left-style: none;
border-left-color: ;
padding-left: 4px;
justify-content: space-between;
padding-bottom: ;
height: ;
}
.p-Home.Div26 {
background-color: #99F6E4ff;
border-radius: 16px;
width: 40%;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
}
.p-Home.Flex55 {
display: flex;
column-gap: 20px;
}
.p-Home.Flex57 {
display: flex;
flex-direction: column;
padding-left: ;
border-left-width: ;
border-left-style: none;
border-left-color: transparent;
}
.p-Home.Div43 {
position: relative;
width: 100%;
visibility: hidden;
}
.p-Home.Step_2 {
display: flex;
flex-direction: column;
row-gap: 24px;
}
.p-Home.Flex61 {
display: flex;
border-left-width: ;
border-left-style: none;
border-left-color: ;
padding-left: 4px;
justify-content: flex-start;
padding-bottom: ;
height: 240px;
column-gap: 240px;
}
.p-Home.Flex60 {
display: flex;
column-gap: 20px;
}
.p-Home.Flex59 {
display: flex;
flex-direction: column;
padding-left: ;
border-left-width: ;
border-left-style: none;
border-left-color: transparent;
row-gap: 32px;
}
.p-Home.Div34 {
position: relative;
}
.p-Home.Flex64 {
display: flex;
justify-content: space-between;
width: 520px;
}
.p-Home.Flex66 {
display: flex;
align-items: stretch;
padding-right: ;
height: auto;
justify-content: flex-start;
padding-top: 88px;
width: auto;
margin-top: ;
}
.p-Home.Flex62 {
display: flex;
align-items: center;
column-gap: 16px;
}
.p-Home.Step_3 {
display: flex;
flex-direction: column;
row-gap: 24px;
}
.p-Home.Flex71 {
display: flex;
align-items: center;
column-gap: 16px;
}
.p-Home.Flex72 {
display: flex;
border-left-width: ;
border-left-style: none;
border-left-color: ;
padding-left: 4px;
justify-content: space-between;
padding-bottom: ;
height: 240px;
}
.p-Home.Flex70 {
display: flex;
column-gap: 20px;
}
.p-Home.Flex68 {
display: flex;
flex-direction: column;
padding-left: ;
border-left-width: ;
border-left-style: none;
border-left-color: transparent;
row-gap: 32px;
}
.p-Home.Flex74 {
display: flex;
background-color: #99F6E4ff;
justify-content: space-around;
align-items: center;
width: ;
border-radius: 4px;
column-gap: 16px;
padding-left: 16px;
padding-right: 16px;
padding-top: 8px;
padding-bottom: 8px;
}
.p-Home.Logs {
display: flex;
flex-direction: column;
row-gap: 20px;
}
.p-Home.Flex76 {
display: flex;
flex-direction: column;
}
.p-Home.Flex77 {
display: flex;
column-gap: 1em;
align-items: center;
padding-top: ;
}
.p-Home.Flex78 {
display: flex;
column-gap: 1em;
align-items: center;
padding-top: ;
}
.p-Home.Div42 {
padding-left: 32px;
}
.p-Home.Flex85 {
display: flex;
background-color: #1F2937ff;
font-family: IBM Plex Mono;
font-weight: 700;
font-size: 16px;
line-height: 20px;
color: #9CA3AFff;
border-width: 1px;
border-style: solid;
border-color: #374151ff;
flex-direction: column;
padding-left: 8px;
row-gap: 16px;
padding-top: 16px;
padding-bottom: 16px;
margin-left: ;
column-gap: ;
}
.p-Home.Flex84 {
display: flex;
flex-direction: column;
row-gap: 8px;
}
.p-Home.Login_Button {
color: #1E293Bff;
background-color: #FDE047ff;
padding-top: 8px;
padding-left: 16px;
padding-bottom: 8px;
padding-right: 16px;
font-size: 16px;
border-radius: 6px;
outline: none;
font-weight: 700;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #FDE047ff;
cursor: pointer;
user-select: none;
box-shadow: ;
font-family: Poppins;
line-height: 24px;
width: 140px;
}
.p-Home.Logo_Image {
width: 32px;
}
.p-Home.Logo_Image_Name {
width: 93px;
}
.p-Home.Showcase {
color: #ffff;
font-family: Inter;
font-weight: 500;
font-size: 16px;
line-height: 19.36px;
}
.p-Home.Docs {
font-family: Inter;
font-weight: 500;
font-size: 16px;
color: #9CA3AFff;
line-height: 19.36px;
}
.p-Home.TextBox43 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 16px;
line-height: 20.8px;
color: #ffff;
}
.p-Home.TextBox44 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 16px;
color: #ffff;
line-height: 20.8px;
}
.p-Home.Image26 {
width: 8px;
height: ;
}
.p-Home.TextBox6 {
font-family: IBM Plex Sans;
font-weight: 500;
color: #ffff;
font-size: 20px;
line-height: 26px;
width: 70%;
}
.p-Home.Model_Name {
font-family: Space Grotesk;
font-weight: 700;
font-size: 32px;
line-height: 41px;
color: #ffff;
}
.p-Home.TextBox4 {
font-family: IBM Plex Mono;
font-weight: 700;
font-size: 20px;
line-height: 24px;
color: #ffff;
}
.p-Home.Image7 {
;
}
.p-Home.Image9 {
;
}
.p-Home.TextBox45 {
font-family: IBM Plex Mono;
font-weight: 700;
font-size: 20px;
line-height: 26px;
color: #9CA3AFff;
width: 77px;
}
.p-Home.Image10 {
width: 12px;
height: 12px;
}
.p-Home.Image6 {
width: 100%;
}
.p-Home.Div29 {
width: 0.1px;
background-color: #6B7280ff;
}
.p-Home.TextBox54 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 32px;
line-height: 42px;
color: #ffff;
padding-bottom: 15px;
}
.p-Home.Video_Upload {
align-items: center;
color: #000f;
background-color: #99F6E4ff;
padding-top: 8px;
padding-left: 16px;
padding-bottom: 8px;
padding-right: 16px;
font-size: 24px;
border-radius: 2px;
outline: none;
font-weight: 500;
border-width: 1px;
border-style: solid;
border-color: #99F6E4ff;
cursor: pointer;
user-select: none;
column-gap: 12px;
font-family: IBM Plex Sans;
width: 80px;
}
.p-Home.File_Upload {
align-items: stretch;
color: #000f;
background-color: #99F6E4ff;
padding-top: 8px;
padding-left: 72px;
padding-bottom: 8px;
padding-right: 16px;
font-size: 24px;
border-radius: 2px;
outline: none;
font-weight: 500;
border-width: 1px;
border-style: solid;
border-color: #99F6E4ff;
cursor: pointer;
user-select: none;
column-gap: 12px;
font-family: IBM Plex Sans;
}
.p-Home.Image22 {
position: absolute;
top: 18px;
left: 24px;
}
.p-Home.Div30 {
width: 0.1px;
background-color: #6B7280ff;
}
.p-Home.TextBox56 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 32px;
line-height: 42px;
color: #ffff;
padding-bottom: 15px;
}
.p-Home.Div32 {
width: 32px;
height: 32px;
background-color: #99F6E4ff;
border-radius: 4px;
position: relative;
left: 244px;
bottom: 10px;
border-width: 1px;
border-style: solid;
border-color: #99F6E4ff;
}
.p-Home.Div33 {
height: 12px;
background-color: #14B8A6ff;
position: absolute;
width: 520px;
border-width: 1px;
border-style: solid;
border-color: #14B8A6ff;
}
.p-Home.TextBox58 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 20px;
line-height: 26px;
color: #ffff;
}
.p-Home.TextBox59 {
font-family: IBM Plex Sans;
font-weight: 500;
color: #ffff;
font-size: 20px;
line-height: 26px;
}
.p-Home.Input2 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 4px;
padding-left: 11px;
padding-bottom: 4px;
padding-right: 11px;
color: #ffff;
font-size: 20px;
background-color: #161618ff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #374151ff;
border-radius: 2px;
height: 40px;
font-family: IBM Plex Sans;
font-weight: 500;
width: 72px;
align-self: flex-start;
}
.p-Home.Image18 {
width: 12px;
height: 12px;
}
.p-Home.TextBox57 {
font-family: IBM Plex Mono;
font-weight: 700;
font-size: 20px;
line-height: 26px;
color: #9CA3AFff;
width: 77px;
}
.p-Home.TextBox63 {
font-family: IBM Plex Mono;
font-weight: 700;
font-size: 20px;
line-height: 26px;
color: #9CA3AFff;
width: 77px;
}
.p-Home.Image19 {
width: 12px;
height: 12px;
}
.p-Home.Div38 {
width: 0.1px;
background-color: #6B7280ff;
}
.p-Home.TextBox62 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 32px;
line-height: 42px;
color: #ffff;
padding-bottom: 15px;
}
.p-Home.TextBox64 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 24px;
line-height: 32px;
color: #000f;
}
.p-Home.Image27 {
;
}
.p-Home.TextBox65 {
color: #99F6E4ff;
font-family: IBM Plex Mono;
font-weight: 700;
font-size: 32px;
line-height: 41px;
}
.p-Home.TextBox66 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 32px;
line-height: 42px;
color: #ffff;
}
.p-Home.Image20 {
;
}
.p-Home.TextBox67 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 32px;
line-height: 42px;
color: #ffff;
}
.p-Home.Image21 {
;
}
.p-Home.TextBox105 {
font-family: ;
font-size: ;
font-weight: 500;
color: ;
padding-top: ;
padding-right: ;
padding-bottom: ;
padding-left: ;
}
.p-Home.TextBox106 {
font-family: ;
font-size: ;
font-weight: 500;
color: ;
padding-top: ;
padding-right: ;
padding-bottom: ;
padding-left: ;
}
.p-Home.TextBox107 {
font-family: ;
font-size: ;
font-weight: 500;
color: ;
padding-top: ;
padding-right: ;
padding-bottom: ;
padding-left: ;
}
.p-Home.TextBox108 {
font-family: ;
font-size: ;
font-weight: 500;
color: ;
padding-top: ;
padding-right: ;
padding-bottom: ;
padding-left: ;
}
.p-Home.TextBox109 {
font-family: ;
font-size: ;
font-weight: 500;
color: ;
padding-top: ;
padding-right: ;
padding-bottom: ;
padding-left: ;
}
.p-Home.TextBox103 {
font-family: ;
font-size: ;
font-weight: 500;
color: ;
padding-top: ;
padding-right: ;
padding-bottom: ;
padding-left: ;
}
.p-Home.TextBox104 {
font-family: ;
font-size: ;
font-weight: 500;
color: ;
padding-top: ;
padding-right: ;
padding-bottom: ;
padding-left: ;
}
